﻿@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Bummer!</h1>
<h4 class="text-danger">We just experienced a technical difficulty when signing you up. Our development team has become aware of this situation and they are going to address this issue diligently.</h4>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

