﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">

    <div class="col-lg-12">
        <h2 class="text-center">Why {your Startup name}?</h2>
    </div>

</div>


    <div class="row">
        <div class="col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Your difference</h3>
                    <p class="text-center">Explain your difference here briefly.</p>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Your difference</h3>
                    <p class="text-center">Explain your difference here briefly.</p>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Your difference</h3>
                    <p class="text-center">Explain your difference here briefly.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label h4" aria-label="Large">Email</label>
                <div class="col-lg-10">
                    <input required type="email" asp-for="SignedUpProspects.EmailAddress" placeholder="Your email address" class="form-control input-lg">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-2 col-form-label h4" aria-label="Large">Company</label>
                <div class="col-lg-10">
                    <input required type="text" asp-for="SignedUpProspects.CompanyName" placeholder="Your company name" class="form-control input-lg">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-2 col-form-label h4" aria-label="Large">Full name</label>
                <div class="col-lg-10">
                    <input required type="text" asp-for="SignedUpProspects.FullName" placeholder="Your full name" class="form-control input-lg">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <button type="submit" class="btn btn-primary btn-lg">Keep me tuned!</button>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2"></div>
                <label class="col-lg-10 col-form-label" aria-label="Large">* We don't share your information with anyone.</label>
            </div>
        </form>
    </div>
